[submodule "emphf"]
	path = emphf
	url = https://github.com/ot/emphf
[submodule "phf"]
	path = phf
	url = https://github.com/wahern/phf
[submodule "cmph"]
	path = cmph
	url = https://github.com/zvelo/cmph.git
